@media (min-width: 1000px) {
  #header {
    .header-container {
      max-width: 1275px;
      a {
        p {
          font-size: 2.5em;
        }
      }
      nav {
        display: block;
      }
      i {
        display: none;
      }
    }
  }
  #header .header-container nav ul li a {
    font-size: 1.4em;
  }
}

@media (min-width: 1500px) {
  .success-stories {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    ul li {
      width: 650px;
    }
  }
}
