$light-blue: #6abfc3;
$light-brown: #ce973e;

@font-face {
  font-family: 'norse-bold';
  src: url('../assests/font/Norse-Bold.otf');
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 1em;
  a {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    p {
      margin-left: 0.5em;
      color: $light-brown;
      font: 2em 'norse-bold';
    }
  }
  nav {
    display: none;
    ul {
      display: flex;
    }
  }
  i {
    color: $light-blue;
    font-size: 2em;
  }
}
