@media (min-width: 775px) and (max-width: 1000px) {
  #header {
    .header-container {
      nav {
        display: block;
      }
      i {
        display: none;
      }
    }
  }
}

@media (min-width: 775px) {
  .success-stories {
    ul li img {
      display: block;
      margin-right: 3rem;
      height: 50px;
      border-radius: 50%;
    }
    ul li {
      max-width: 650px;
    }
    ul li:nth-child(n + 3) {
      display: flex;
    }
  }
}

// how it works tablet + desktop
@media (min-width: 850px) {
  .how-it-works {
    max-width: 1275px;
    margin: auto;
    margin-bottom: 5em;
    gap: 0.5em;
    grid-template-areas:
      'HIW-header HIW-header HIW-header'
      'learn build connect';
    div p {
      margin: 0;
    }
    div > img {
      height: 185px;
      width: auto;
    }
    .learn {
      margin-left: 10px;
    }
    .connect {
      margin-right: 10px;
    }
  }
}

@media (min-width: 590px) {
  .curriculum-details ul {
    max-width: 858px;
  }
  .curriculum-details > ul > li {
    height: 270px;
  }
  .curriculum-details ul li img {
    height: 160px;
  }
}
