* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  width: auto;
  height: auto;
  border: 3px solid black;
  grid-template-areas:
    'green1'
    'red1';
}

.one {
  grid-area: red1;
  height: 5em;
  width: 100%;
  background-color: red;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.two {
  width: 100%;
  height: 5em;
  grid-area: green1;
  background-color: green;
  grid-column: 1 / span 4;
}

@media (min-width: 765px) {
  body {
    grid-template-areas:
      'red1'
      'green1';
  }
}
